body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

nav {
    background: #222;
    color: white;
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    text-decoration: underline;
}

.hero {
    background: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.button {
    background: #222;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.features {
    padding: 50px 40px;
    text-align: center;
}

.feature {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.feature div {
    background: white;
    padding: 25px;
    width: 250px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.vehicles {
    padding: 50px 40px;
    text-align: center;
}

#vehicle-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.vehicle-card {
    background: white;
    padding: 20px;
    width: 250px;
    text-align: left;
}

.vehicle-card h3 {
    margin-top: 0;
}

.vehicle-card button {
    padding: 8px 15px;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
}